<template>

  <!-- Empty page -->
  <q-page v-if="pages.length === 0" class="column justify-center items-center" style="height: calc(100vh - 50px)" @drop.prevent="dropFile" @dragover.prevent>
    <q-btn class="text-h5 text-center q-pa-lg" color="accent" label="Sélectionnez un fichier PDF" @click="qfile.pickFiles()"/>
    <q-file v-show="false" outlined ref="qfile" v-model="file"/>
    
    <transition appear name="bounce">
      <div class="text-h5 q-mt-xl">
        Ou déposez le ici
        <q-icon name="file_upload" color="accent" size="xl"/>
      </div>
    </transition>
  </q-page>

  <!-- PDF view -->
  <q-page v-else class="column no-wrap" style="height: calc(100vh - 50px)">

    <!-- Toolbar -->
    <div class="row shadow-2 q-py-sm q-px-xl q-mb-xs">
      <q-slider
        :model-value="pageScale"
        @change="val => pageScale = val"
        snap
        label
        markers
        :marker-labels="val => val.toFixed(1)"
        switch-label-side
        color="accent"
        :min="0.4"
        :max="1.6"
        :step="0.2"
        />
    </div>

    <!-- Main content -->
    <div class="row no-wrap overflow-hidden">

      <!-- Previews -->
      <div v-show="$q.screen.gt.sm" class="scroll q-pa-lg">
        <div v-for="page in pages" :key="`preview-${page.index}`" v-ripple class="column items-center relative-position q-mt-lg">
          <canvas :ref="(el) => registerPreviewCanvas(page, el)" class="pagePreview shadow-2 q-mb-xs" @click="onPreviewClick(page)"></canvas>
          <i>{{ page.index }}</i>
        </div>
      </div>

      <!-- Main -->
      <div ref="scrollView" class="col row scroll items-center justify-evenly q-gutter-md q-pa-xl" @dblclick="onDblClickAddSig">
        <div v-for="page in pages" :key="`page-${page.index}`" style="position: relative">
          <canvas :ref="(el) => registerPageCanvas(page, el)" class="shadow-5"></canvas>
          <transition-group appear name="bounce">
            <signature-image v-for="signature, i in signatures" :key="signature.id" :ref="(el) => registerSignatureComponent(el, signature)" :signature="signature" @dblclick="signatures.splice(i, 1)"/>
          </transition-group>
        </div>
      </div>

    </div>

    <!-- FAB -->
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <transition appear name="bounce" mode="out-in">
        <q-btn fab key="draw" v-if="!signaturePresent" icon="draw" color="accent" @click="createSignature"/>
        <q-btn fab key="save" v-else icon="save" color="accent" @click="savePDF"/>
      </transition>
    </q-page-sticky>
  </q-page>
</template>

<style lang="sass">
canvas.pagePreview
  cursor: pointer
</style>

<script setup lang="ts">
import { ref, watch, computed } from 'vue'

// For quasar screen
import { useQuasar } from 'quasar'
const $q = useQuasar()


/*
 * Signatures
 */
import { v4 as uuidv4 } from 'uuid';
import { Position, SignatureInfo, SignatureImage, ISignatureComponent, useSignatureDialog } from 'components/Signature'
const showSignatureDialog = useSignatureDialog()

const signatures = ref<SignatureInfo[]>([])
const signaturePresent = computed(() => !(signatures.value === null || signatures.value.length === 0))
const registerSignatureComponent = (el: ISignatureComponent, signature: SignatureInfo) => signature.component = el

// Add a new signature to the page
const addSignature = (dataUrl: string, initialPosition: Position) => {
  signatures.value.push({
    id: uuidv4(),
    dataUrl,
    initialPosition
  } as SignatureInfo)
}

// When added via button centers it on the screen
const createSignature = () => {
  const rect: DOMRect = scrollView.value.getBoundingClientRect()
  showSignatureDialog()
    .then(sig => addSignature(sig, { x: rect.width / 2, y: scrollView.value.scrollTop + rect.height / 2}))
    .catch(() => { ; })
}

// Use dblclick coordinates for signature initial position
const onDblClickAddSig = (event: MouseEvent) => {
  showSignatureDialog()
    .then(sig => addSignature(sig, { x: event.clientX - scrollView.value.offsetLeft, y: event.clientY + scrollView.value.offsetTop * 2 + scrollView.value.scrollTop }))
    .catch(() => { ; })
}


/*
 * PDF rendering
 */
import { usePDFRenderer, PageInfo } from 'components/PDFRenderer'

// File management
const qfile = ref()
const scrollView = ref<HTMLElement>()
const file = ref<File>()

const dropFile = (e: DragEvent) => {
  const files = e.dataTransfer.files
  if(!files) return
  file.value = files.item(0)
}

// PDFRenderer helpers
const { pages, pageScale, loadDocument, registerPageCanvas, registerPreviewCanvas } = usePDFRenderer(1, 0.2)

// Load and render on the fly when updating file
watch(file, (newFile) => newFile && loadDocument(URL.createObjectURL(newFile)))

// Scroll to page on preview click
const onPreviewClick = (pageInfo: PageInfo) => {
  scrollView.value.scroll({
    top: pageInfo.page.offsetTop - 25,
    behavior: 'smooth'
  })
}


/*
 * PDF update
 */
import { dataUrlToUint8Array, getIntersections } from 'components/Signature'
import { createEditor, drawSignature, saveAndDownload } from 'components/PDFEditor'

const savePDF = async () => {
  const pdfDoc = await createEditor(file.value)

  signatures.value.forEach<SignatureInfo>(async (signature): void => {
    const pngImage = await pdfDoc.embedPng(dataUrlToUint8Array(signature.dataUrl))

    // Loop over intersections and draw the signature
    const pagesCanvas: HTMLCanvasElement[] = pages.value.map(info => info.page)
    getIntersections(signature.component.image, pagesCanvas).forEach(intersection => {
      drawSignature(pdfDoc, intersection, pngImage)
    })
  })

  await saveAndDownload(pdfDoc)
}
</script>
