<template>
  <q-dialog ref="dialogRef" @hide="onDialogHide" :full-width="$q.screen.lt.md" :full-height="$q.screen.lt.md">
    <q-card class="column no-wrap">
      <q-card-section class="grow">
        <canvas ref="canvas" class="fit"></canvas>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn flat outlined color="primary" label="Annuler" @click="onCancelClick"/>
        <q-btn flat outlined color="primary" label="Signer" @click="onOKClick"/>
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<style scoped lang="sass">
canvas
  border: 1px solid black
</style>
 
<script setup lang="ts">
import { ref, shallowRef, onDeactivated, watchEffect } from 'vue'
import { useQuasar } from 'quasar'
const $q = useQuasar()


// QDialog custom component API
import { useDialogPluginComponent } from 'quasar'
defineEmits(useDialogPluginComponent.emits)
const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()


// Signature pad management
import SignaturePad from 'signature_pad'
const canvas = ref<HTMLCanvasElement>()
const signaturePad = shallowRef<SignaturePad>()


// Recreate pad when canvas is recreated
watchEffect(() => {
  if(canvas.value) {
    if(signaturePad.value) signaturePad.value.off()
    signaturePad.value = new SignaturePad(canvas.value)
    resizeCanvas(canvas.value, signaturePad.value)
  } else {
    if(signaturePad.value) signaturePad.value.off()
    signaturePad.value = null
  }
})


// Dialog buttons
const onCancelClick = () => onDialogCancel()
const onOKClick = () => onDialogOK(signaturePad.value.toDataURL())


// Resize management
const resizeListener = () => { resizeCanvas(canvas.value, signaturePad.value) }
window.addEventListener('resize', resizeListener)
onDeactivated(() => { window.removeEventListener('resize', resizeListener) })


// From https://github.com/szimek/signature_pad/blob/gh-pages/js/app.js#L37
function resizeCanvas(canvas: HTMLCanvasElement, pad: SignaturePad) {
  if(!canvas) return
  const ratio =  Math.max(window.devicePixelRatio || 1, 1)

  // This part causes the canvas to be cleared
  canvas.width = canvas.offsetWidth * ratio
  canvas.height = canvas.offsetHeight * ratio
  canvas.getContext('2d').scale(ratio, ratio)
  if(pad) pad.clear()
}
</script>
