<!-- Component managing drag handles for a parent component -->

<template>
  <transition-group v-if="true" appear name="bounce">
    <drag-handle v-for="action in visibleHandles" :key="action"
      :action="action"
      :size="action === DragAction.Move ? 15 : undefined"
      :parentSize="props.parentSize"
      @onDragStarted="e => props.onDragStarted(action, e)"
      @onDrag="props.onDrag"
      @onDragStopped="props.onDragStopped"
      />
  </transition-group>
</template>

<script setup lang="ts">
import { computed, Ref } from 'vue'
import { DragAction, DragState, DragHandle, Size } from 'components/Draggable'

// Props
// !!! Beware, dragState and parentSize are Ref<>, the reason for this
// is that the DragHandles component is created programmatically by useDraggable
// and not managed by a template
const props = defineProps<{
  dragState: Ref<DragState>
  parentSize: Ref<Size>
  onDrag: (e: MouseEvent) => void
  onDragStarted: (e: MouseEvent) => void
  onDragStopped: (e: MouseEvent) => void
}>()

// Define actions as an array to loop on the template
const actions = [
  DragAction.ResizeWest,
  DragAction.ResizeNorthWest,
  DragAction.ResizeSouthWest,
  DragAction.ResizeEast,
  DragAction.ResizeNorthEast,
  DragAction.ResizeSouthEast,
  DragAction.ResizeNorth,
  DragAction.ResizeSouth,
  DragAction.Move
]

// Filter visible handles depending on current drag state
const visibleHandles = computed(() => {
  const action = props.dragState.value.action
  return actions.filter((value: DragAction) => action === DragAction.None || action === value)
})
</script>
