<!-- A simple drag handle -->

<template>
  <q-btn
    v-draggable
    round
    color="secondary"
    class="resize-handle"
    :icon="style.icon"
    :style="{ position: 'absolute', ...style }"
    :size="`${props.size}px`"
    />
</template>

<script setup lang="ts">
import { computed, Ref } from 'vue'
import { DragAction, Size } from 'components/Draggable'

// Emits
const emit = defineEmits<{
  (e: 'onDrag', value: MouseEvent)
  (e: 'onDragStarted', value: MouseEvent)
  (e: 'onDragStopped', value: MouseEvent)
}>()

// Props
// !!! Beware, parentSize is Ref<>, the reason for this
// is that the DragHandles component is created programmatically by useDraggable
// and not managed by a template
const props = withDefaults(defineProps<{
  size?: number
  action: DragAction
  parentSize: Ref<Size>
}>(),
{ size: 10 }
)

// Computed style depending on drag action
const style = computed(() => {
  const margin = -3 // margin factor for drag button
  const btnCenter = props.size * 3 / 2

  // Computed the center coordinates of the parent
  const parentHCenter = (props.parentSize.value.width / 2) - btnCenter
  const parentVCenter = (props.parentSize.value.height / 2) - btnCenter

  switch(props.action) {
  case DragAction.ResizeNorth:
    return { icon: 'north', top: `${btnCenter * margin}px`, left: `${parentHCenter}px` }

  case DragAction.ResizeSouth:
    return { icon: 'south', bottom: `${btnCenter * margin}px`, left: `${parentHCenter}px` }

  case DragAction.ResizeEast:
    return { icon: 'east', top: `${parentVCenter}px`, right: `${btnCenter * margin}px` }

  case DragAction.ResizeNorthEast:
    return { icon: 'north_east', top: `${btnCenter * margin}px`, right: `${btnCenter * margin}px` }

  case DragAction.ResizeSouthEast:
    return { icon: 'south_east', bottom: `${btnCenter * margin}px`, right: `${btnCenter * margin}px` }

  case DragAction.ResizeWest:
    return { icon: 'west', top: `${parentVCenter}px`, left: `${btnCenter * margin}px` }

  case DragAction.ResizeNorthWest:
    return { icon: 'north_west', top: `${btnCenter * margin}px`, left: `${btnCenter * margin}px` }

  case DragAction.ResizeSouthWest:
    return { icon: 'south_west', bottom: `${btnCenter * margin}px`, left: `${btnCenter * margin}px` }

  case DragAction.Move:
    return { icon: 'open_with', top: `${parentVCenter}px`, left: `${parentHCenter}px` }

  default: return {} // Should not happens, but just in case an empty object will prevent vue from crashing on fields access
  }
})


/*
 * Mouse events handling
 */

// Register handlers and initiate drag
const onMouseDown = (event: MouseEvent) => {
  event.preventDefault()
  document.addEventListener('mouseup', onMouseUp)
  document.addEventListener('mousemove', onMouseMove)
  emit('onDragStarted', event)
}


// Unregister handlers and terminate drag
const onMouseUp = (_event: MouseEvent) => {
  document.removeEventListener('mouseup', onMouseUp)
  document.removeEventListener('mousemove', onMouseMove)
  emit('onDragStopped', event)
}


// Update drag position
const onMouseMove = (event: MouseEvent) => {
  emit('onDrag', event)
}


/*
 * Custom directive to setup and clean mouse events
 */
const vDraggable = {

  // setup
  mounted(el: HTMLElement) {
    el.addEventListener('mousedown', onMouseDown)
  },

  // cleanup
  unmounted(el: HTMLElement) {
    el.removeEventListener('mousedown', onMouseDown)
    document.removeEventListener('mouseup', onMouseUp)
    document.removeEventListener('mousemove', onMouseMove)
  }
}
</script>
