<template>
  <div ref="domElement" :class="dragClasses" :style="dragStyle">
    <img ref="image" :src="props.signature.dataUrl" :width="size.width" :height="size.height"/>
    <component :is="dragHandles"/>
  </div>
</template>

<style scoped lang="sass">
img
  border: 1px solid black

/* Managed by Draggable */
/* TODO move this to Draggable ?*/
div.moveable
  display: flex
  position: absolute
  cursor: move
  border: 1px solid red
  margin: 0 !important

/* Managed by Draggable */
div.moving
  background-color: #ffffffdd
</style>

<script setup lang="ts">
import { ref } from 'vue'
import { SignatureInfo, ISignatureComponent } from 'components/Signature'

// Props and emits
const _emit = defineEmits<{
  (e: 'dblclick')
}>()

const props = defineProps<{
  signature: SignatureInfo
}>()

 // Internal state
const domElement = ref<HTMLElement>()
const image = ref<HTMLImageElement>()

// Drag / resize management
import { useConstrainedDraggable } from 'components/Draggable'
const {
  size,
  dragStyle,
  dragClasses,
  dragHandles,
} = useConstrainedDraggable(domElement, props.signature.initialPosition, { width: 200, height: 100 })

// Expose publicly image through ISignatureComponent
defineExpose<ISignatureComponent>({ image, size })
</script>
