// app global css in Sass form

.grow
  flex-grow: 1

.bounce-enter-active
  animation: bounce-in .5s ease-out both

.bounce-leave-active
  animation: bounce-in .1s reverse ease-in both

@keyframes bounce-in
  0%
    transform: scale(0)
  50%
    transform: scale(1.25)
  100%
    transform: scale(1)
